:root {
    font-family: sans-serif;

    color: black;
    background-color: white;
}

[data-theme="dark"] {
    color: white;
    /* mastodon background color */
    background-color: #282C37;
}

html, body {
    margin: 0;
}

#app > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

body {
    overflow-x: hidden;
}

.hashtagList {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

.hashtag:hover {
    cursor: pointer;
    text-decoration: underline;
}
